<form [ngFormModel]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="curr_passw">Current Password</label>
        <input
                id="curr_passw"
                type="password"
                class="form-control"
                ngControl="curr_passw"
                #curr_passw="ngForm">
        <div *ngIf="curr_passw.touched && curr_passw.errors">
            <div
                    *ngIf="curr_passw.errors.required"
                    class="alert alert-danger">curr_passw is required.
            </div>
            <div
                    *ngIf="curr_passw.errors.cannotContainSpace"
                    class="alert alert-danger">curr_passw cannot Contain Space.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="new_password">New Password</label>
        <input
                id="new_password"
                type="password"
                class="form-control"
                ngControl="new_password"
                #new_password="ngForm">
        <div *ngIf="new_password.touched && new_password.errors">
            <div
                    *ngIf="new_password.errors.required"
                    class="alert alert-danger">new_password is required.
            </div>
            <div
                    *ngIf="new_password.errors.cannotContainSpace"
                    class="alert alert-danger">new_password cannot Contain Space.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input
                id="confirm_password"
                type="password"
                class="form-control"
                ngControl="confirm_password"
                #confirm_password="ngForm">
        <div *ngIf="confirm_password.touched">
            <div *ngIf="confirm_password.errors">
                <div
                        *ngIf="confirm_password.errors.required"
                        class="alert alert-danger">confirm_password is required.
                </div>
                <div
                        *ngIf="confirm_password.errors.cannotContainSpace"
                        class="alert alert-danger">confirm_password cannot Contain Space.
                </div>

            </div>
            <div
                    *ngIf="form.errors && form.errors.shouldBeSame"
                    class="alert alert-danger">confirm_password shouldBeSame.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change Password</button>
</form>